body
{
	font-family: verdana, sans-serif;
	color: #000000;
	background-color: #E4E6EC;
}

div
{
	clear: both;
}

h1
{
	background-color: #7878de;
	border:1px solid #888;
	padding:5px;
	text-align:left;
	margin: 5px 0px 5px 0px;
	clear: both;
	font-size: 1.25em;
}

h2 {
	background-color: #A0A0ED;
	border:1px solid #888;
	padding:5px;
	text-align:left;
	margin: 5px 0px 5px 0px;
	clear: both;
	font-size: 1.25em;
}

h3
{
	background-color: #7878de;
	border:0px solid #888;
	padding:5px;
	text-align:left;
	margin: 5px 0px 5px 0px;
	clear: both;
	font-size: 1.0em;
}


#header ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#header li
{
	font-size: 1.25em;
	font-weight: bold;
	background-color: #B2B2FF;
	padding:5px;
	float: left;
	border:1px solid #888;
	border-bottom-width: 0;
	margin: 0px 2px 0px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-user-select: none;
}

#header li:hover
{
	cursor: pointer;
	background-color: #C9C9FF;
}

#header li.selected
{
	background-color: #7878de;
}

#readings_graph .c3-line
{
	stroke-width: 4px;
}

#readings_graph .c3-circle
{
	stroke: black;
	fill: white !important;
	stroke-width: 1px;
}

table.raw
{
	table-layout: fixed;
	width: 100%;
}

.tabheader
{
	background-color: #B2B2FF;
	text-align: center;
	font-weight: bold;
}

.tabodd
{
	background-color: white;
}

.tabeven
{
	background-color: lightgrey;
}

td, th
{
	padding: 5px;
	text-align: right;
}

#form_parent
{
	display: table;
}

#new_reading_form
{
	font-size: 1.5em; 
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.normal_text
{
  color: inherit;
  text-decoration: inherit;
}

#last_tab
{
	display: table-cell;
	text-align: center;
	font-size: 1.5em;
}
